[user]
	email = maximilian.linhoff@tu-dortmund.de
	name = Maximilian Linhoff
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
	autoSetupRemote = true
[branch]
	autoSetupMerge = simple
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictstyle = diff3

[alias]
	graph = log --graph --all --decorate
	merges = log --merges --first-parent master
	diffs = diff --staged
	s = status -s
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
