[user]
	email = maximilian.noethe@tu-dortmund.de
	name = Maximilian Nöthe
[push]
	default = simple
[pull]
	rebase = true
[core]
	editor = vim
	excludesfile = /home/maxnoe/.gitignore_global
[alias]
	graph = log --graph --all --decorate
