Xft.dpi: 192

URxvt*saveLines: 10000
URxvt*scrollBar: false
URxvt*secondaryScroll: true
URxvt.letterSpace: 1

! Fonts
URxvt*font: xft:Fira Mono for Powerline:antialias=true:size=10:medium
URxvt*boldFont: xft:Fira Mono for Powerline:antialias=true:size=10:style=bold
URxvt*italicFont: xft:Fira Mono for Powerline:antialias=true:size=10:style=italic
URxvt*boldItatlicFont: xft:Fira Mono for Powerline:antialias=true:size=10:style=bolditalic

URxvt*url-launcher: firefox
URxvt*matcher.button: 1
URxvt*colorUL: #4682B4

! font-size extension:
URxvt.perl-ext-common: default,matcher,font-size,clipboard
URxvt.keysym.C-plus: font-size:incglobal
URxvt.keysym.C-minus: font-size:decglobal

! enable C-S-v paster, C-S-c copy
URxvt*iso14755: false
URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*keysym.Shift-Control-V: eval:paste_clipboard
